#hello{

position: absolute;
width: 808.01px;
height: 550.41px;
left: 631.68px;
top: 232.59px;





left: 36.25%;
right: 60.76%;
top: 3.69%;
bottom: 83.93%;




left: 30.42%;
right: 62.17%;
top: 35.61%;
bottom: 49.31%;




left: 26.59%;
right: 12.24%;
top: 52.68%;
bottom: 0.3%;





left: 39.67%;
right: 49.14%;
top: 79.8%;
bottom: 0.34%;





left: 49.22%;
right: 45.21%;
top: 91.35%;
bottom: 0%;





left: 60.21%;
right: 31.92%;
top: 34.73%;
bottom: 47.92%;





left: 48.1%;
right: 19.55%;
top: 7.03%;
bottom: 58.44%;





left: 48.81%;
right: 20.26%;
top: 8.16%;
bottom: 59.57%;





left: 60.19%;
right: 31.9%;
top: 52.51%;
bottom: 46.44%;





left: 55.29%;
right: 26.28%;
top: 52.05%;
bottom: 45.84%;





left: 56.02%;
right: 43.43%;
top: 52.42%;
bottom: 48.06%;





left: 57.12%;
right: 42.33%;
top: 52.42%;
bottom: 48.06%;





left: 58.21%;
right: 41.24%;
top: 52.42%;
bottom: 48.06%;






left: 59.31%;
right: 40.14%;
top: 52.42%;
bottom: 48.06%;






left: 60.4%;
right: 39.05%;
top: 52.42%;
bottom: 48.06%;






left: 61.5%;
right: 37.96%;
top: 52.42%;
bottom: 48.06%;






left: 62.59%;
right: 36.86%;
top: 52.42%;
bottom: 48.06%;






left: 63.69%;
right: 35.77%;
top: 52.42%;
bottom: 48.06%;






left: 64.78%;
right: 34.67%;
top: 52.42%;
bottom: 48.06%;






left: 65.88%;
right: 33.58%;
top: 52.42%;
bottom: 48.06%;






left: 66.97%;
right: 32.48%;
top: 52.42%;
bottom: 48.06%;






left: 68.07%;
right: 31.39%;
top: 52.42%;
bottom: 48.06%;






left: 69.16%;
right: 30.29%;
top: 52.42%;
bottom: 48.06%;






left: 70.26%;
right: 29.2%;
top: 52.42%;
bottom: 48.06%;






left: 71.35%;
right: 28.1%;
top: 52.42%;
bottom: 48.06%;






left: 72.45%;
right: 27.01%;
top: 52.42%;
bottom: 48.06%;






left: 56.01%;
right: 43.44%;
top: 53.29%;
bottom: 47.19%;






left: 57.11%;
right: 42.35%;
top: 53.29%;
bottom: 47.19%;






left: 58.2%;
right: 41.25%;
top: 53.29%;
bottom: 47.19%;






left: 59.3%;
right: 40.16%;
top: 53.29%;
bottom: 47.19%;






left: 60.39%;
right: 39.06%;
top: 53.29%;
bottom: 47.19%;






left: 61.48%;
right: 37.97%;
top: 53.29%;
bottom: 47.19%;






left: 62.58%;
right: 36.87%;
top: 53.29%;
bottom: 47.19%;






left: 63.67%;
right: 35.78%;
top: 53.29%;
bottom: 47.19%;






left: 64.77%;
right: 34.68%;
top: 53.29%;
bottom: 47.19%;






left: 65.86%;
right: 33.59%;
top: 53.29%;
bottom: 47.19%;






left: 66.96%;
right: 32.49%;
top: 53.29%;
bottom: 47.19%;






left: 68.05%;
right: 31.4%;
top: 53.29%;
bottom: 47.19%;






left: 69.15%;
right: 30.3%;
top: 53.29%;
bottom: 47.19%;






left: 70.24%;
right: 29.21%;
top: 53.29%;
bottom: 47.19%;






left: 71.34%;
right: 28.12%;
top: 53.29%;
bottom: 47.19%;






left: 72.43%;
right: 27.02%;
top: 53.29%;
bottom: 47.19%;






left: 61.27%;
right: 34.36%;
top: 54.33%;
bottom: 46.15%;






left: 56.33%;
right: 25.24%;
top: 11.98%;
bottom: 64.07%;






left: 20.47%;
right: 74.38%;
top: 74.19%;
bottom: 17.44%;






left: 21.28%;
right: 73.25%;
top: 79.56%;
bottom: 12.78%;






left: 15.32%;
right: 61.06%;
top: 41.79%;
bottom: 20.16%;






left: 16.38%;
right: 79.46%;
top: 85.52%;
bottom: 5.34%;






left: 17.52%;
right: 61.35%;
top: 46.36%;
bottom: 9.69%;






left: 12.17%;
right: 81.57%;
top: 92.87%;
bottom: 0.37%;






left: 43.82%;
right: 52.7%;
top: 47.28%;
bottom: 43.58%;






left: 19.03%;
right: 76.56%;
top: 1%;
bottom: 90.37%;






left: 20.87%;
right: 53.67%;
top: 5.43%;
bottom: 48.65%;






left: 32.78%;
right: 60.79%;
top: 4.06%;
bottom: 86.78%;






left: 30.5%;
right: 60.7%;
top: 1.86%;
bottom: 82.4%;






left: 30.36%;
right: 65.29%;
top: 1.97%;
bottom: 87.06%;






left: 32.78%;
right: 65.76%;
top: 2.31%;
bottom: 92.77%;






left: 0%;
right: 0%;
top: 100.29%;
bottom: 0.18%;





left: 59.34%;
right: 38.13%;
top: 21.23%;
bottom: 79.11%;






left: 63.14%;
right: 34.33%;
top: 21.23%;
bottom: 79.11%;






left: 65.04%;
right: 32.43%;
top: 23.89%;
bottom: 76.44%;






left: 59.34%;
right: 36.22%;
top: 23.89%;
bottom: 76.44%;






left: 66.93%;
right: 28.63%;
top: 21.23%;
bottom: 79.11%;






left: 58.88%;
right: 36.68%;
top: 16.18%;
bottom: 84.16%;






left: 63.25%;
right: 34.86%;
top: 14.14%;
bottom: 82.21%;






left: 57.18%;
right: 40.93%;
top: 14.14%;
bottom: 82.21%;






left: 60.95%;
right: 34.61%;
top: 29.61%;
bottom: 70.72%;






left: 65.7%;
right: 32.4%;
top: 27.27%;
bottom: 69.07%;






left: 57.18%;
right: 40.93%;
top: 27.27%;
bottom: 69.07%;






left: 59.23%;
right: 39.51%;
top: 27.74%;
bottom: 69.54%;



}